<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466270473905-0qm1f26mijs3ve8htb3dap2co7ql6nid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466270473905-0qm1f26mijs3ve8htb3dap2co7ql6nid</string>
	<key>API_KEY</key>
	<string>AIzaSyBMFp0xLRBOGI9PQKbfduLGwNrQK2EMVqc</string>
	<key>GCM_SENDER_ID</key>
	<string>466270473905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.christianomere.paapiar</string>
	<key>PROJECT_ID</key>
	<string>paapiar-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>paapiar-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466270473905:ios:7fb6d1f573f17237809c90</string>
</dict>
</plist>